# Don't think storing 871MB of data on GitHub is a good thing...
data/

# No .pyc stuff either...
__pycache__/
*.pyc

# And no .vscode either...
.vscode/

# Don't store tensorboard stuff...
tensorboard/

# Don't store the saved model...
saved_model/

# Don't store the global-step...
*.pkl
