# Don't think storing 871MB of data on GitHub is a good thing...
data/

# No .pyc stuff either...
__pycache__/
*.pyc

# And no .vscode either...
.vscode/

# Don't store tensorboard stuff...
tensorboard/

# Don't store the saved model... or any saved stuff...
saved_model/
saved/

# Keras? No .h5 files either.
*.h5

# Ahh, legacy. To store or not to store? NOT!
legacy/

# Archived files are necessary for me, but not for the repository.
archive/

# No storing binary files.
bin/

# No .pkl files.
*.pkl

# No pytest files.
.pytest_cache/
